#bsMenu{
	
    margin-top:10px;
    margin-left:6px;
    width:950px;
}

#bsMenu ul{
	padding:0;
    width:900px;
}

#bsMenu li{
	float: left;
	list-style:none;
}

#bsMenu li input{
	text-align: center;
	text-decoration: none;
	display:block;
	width: 100px;
	margin: 0 5px 0 5px;
}
#bsMenu li a{
	text-align: center;
	text-decoration: none;
	display:block;
	width: 100px;
    height:29px;
	
}
.menuHelp a{
    
    text-decoration:none;
    list-style:none;
    color:White;
    display:block;
    text-align:center;
    text-shadow: 0 1px Black;
        border-top-left-radius:0px;
    border-top-right-radius:0px;
    font-family:Calibri;

    font-weight:bolder; 
}
.BtnWiseHelp{
    background-color:#4682B4;

}
.BtnWiseHelp:hover{
    background-color:Blue;

}
.menuHelp li{
        list-style:none;    
        margin-top:8px;
}
.menuHelp ul{
    margin-top:8px;
    margin-left:8px;

}