

*{
    margin:0;
    padding:0;
    
}
.TituloSistema {
    background-image: -webkit-gradient(
                                        linear,
                                        left top, 
                                        left bottom,
                                        from(#6445d7),
                                        to(rgba(0, 0, 0, 0))
                                        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left:5px;
    font-size:70px;
    
}

.cabecalho{
    background-color:#A2B5CD;
    padding-left:5px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-style:dotted;
    border-bottom-width:1px;
    border-bottom-color:Blue;
    font-family:Calibri;
    color:#008B45;

}

body{
background-color:#031667;
font-family:Calibri;
}

.corpo{
width:1050px;

}

.rodape{
}

.tudo{
    margin:auto;
    margin-top:10px;
    width:1100px;
    background-color:White;
    min-height:620px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 10px 10px 5px #000000;
    -webkit-box-shadow: 10px 10px 5px #000000;
    box-shadow: 5px 5px 5px #000000;
}

.boxAzul {

   margin: 10px;
   padding: 0;
   
   border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:1px;
    border-bottom-right-radius:1px;
    
    box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
}
.boxAzul2 {

    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size:18px;
    
    font-family:Calibri;
   
    background: #6fb2e5;
    box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
    
}

.fonteH1{
    font-family:Calibri;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left:20px;
    color:AliceBlue;
    background: #6fb2e5;
        
    box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
   -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
}



